<div class="topic-information {{if @topicInformationVisible "topic-information--visible"}}">
  <div class="topic-content">
    {{#if @topic}}
      <h2 class="topic-information__title">
        Information on topic:
        <br>
        "{{@topic.label}}"
      </h2>
      Total mentions: {{@topic.volume}}
      <ul class="topic-information__mentions-statistic">
        <li>
          Positive mentions:
          <span class="topic-information__sentiment--positive">{{@topic.sentiment.positive}}</span>
        </li>
        <li>
          Neutral mentions:
          <span class="topic-information__sentiment--neutral">{{@topic.sentiment.neutral}}</span>
        </li>
        <li>
          Negative mentions:
          <span class="topic-information__sentiment--negative">{{@topic.sentiment.negative}}</span>
        </li>
      </ul>
    {{/if}}
  </div>
</div>
